<h2 class="title">Sign-in</h2>
<h4 style="color: #fff;" class="title">Back for more huh?</h4>
<form id="new-session-form" action="/sessions" method="post">
  <label for="email">Email: (required)</label>
  <input id="email" type="email" name="email" required value="">
  <label for="password">Password: (required)</label>
  <input id="password" type="password" name="password" required value="">
  <input id="submit" type="submit" value="Submit"> 
</form>
